<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="person"></ion-icon>
    </ion-buttons>
    <ion-title>Send</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Suggestion</ion-label>
    </ion-list-header>

    <ion-item class="suggestion" no-padding>
      <div>
        <ion-ripple-effect></ion-ripple-effect>
        <ion-avatar slot="start">
          <img src="/assets/user.svg" />
        </ion-avatar>
        <ion-label class="suggestion-description">
          <h3 class="suggestion-username">Jordan Fokoua</h3>
          <p class="suggestion-address">supcoin.me/mrj237</p>
        </ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
