<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle class="card-header">
        <ion-img class="logo" src="/assets/supcoin.svg"></ion-img>
        <ion-text class="logo-text" color="primary">
          Balance
        </ion-text>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="card-content">
      <ion-img class="chip" src="/assets/img/chip_thumb.png"></ion-img>
      <ion-text class="balance">
        <h1 class="amount">
          <h3 class="currency">$</h3>
          445,20
          <p color="medium" class="available">Available</p>
        </h1>
      </ion-text>
    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle class="card-footer">
        <ion-chip color="medium">
          <ion-label class="user-name" color="primary"
            >Mr. Ragnar Lothbrok</ion-label
          >
        </ion-chip>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
